
.about-command {
    background: #F5F4FA;
    // padding-top: 94px;
    // padding-bottom: 94px;

    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width:1200px) {
    padding-top: 94px;
    padding-bottom: 94px;     
    }
}

.about-command-title {
    
    font-weight: 700;
    // font-size: 36px;
    // line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    color: var(--second-title-color);

    font-size: 28px;
    line-height: 1.17;
    
    @media screen and (min-width:1200px) {
    font-size: 36px;
    line-height: 1.16  
    }
}


.command-list {
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: center;
    // margin-left: -30px;
    
    @media screen and (min-width:768px) {
        display: flex;
        flex-wrap: wrap;   
       }

       @media screen and (min-width:1200px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: -30px;  
       }
}

.command-item {
    margin-left: 30px;
    margin-bottom: 30px;
    
}

.command-item-bottom {
    padding-top: 30px;
    padding-bottom: 30px;

    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.about-command-title-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
    color: var(--second-title-color)
}

.about-command-speciality {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color)
}

.command-social-list {
    display: flex;
    justify-content: center;
}

.command-social-title {
    width: 44px;
    height: 44px;
}

.command-social-title + .command-social-title {
    margin-left: 10px;
}


.command__social__link {
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #AFB1B8;
    background-color: transparent;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.command-social-icon {
    fill: currentColor;
}



.command__social__link:hover,
.command__social__link:focus {
    background-color: var(--accent-color);
    color: #FFFFFF;
}