
.logo-footer {
    font-family: 
    Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--main-title-color);

    @media screen and (min-width:480px) {
        text-align: center;
        padding-left: 163px;
    }


}


.logo-begin { 
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
}

.logo {
    font-family: 
    Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #212121; 
    
    @media screen and (min-width:480px) {
        margin-left: 10px;

       }
   
}



.heder__logo {
    margin-right: 93px;

    @media screen and (min-width:480px) {
        margin-right: 237px;   
       }
   
}
