
    .container-portfolio{
        width: 100%;
        padding: 0 15px;
        margin: 0 auto;
    }
    
        .about-second-portfolio {
        
        padding-bottom: 94px;
    }
            
    
    .about-portfolio:hover .about-portfolio-top-text {
        transform: translateY(0);
    }
    
    .list-about-portfolio {
        // display: flex;
        // flex-wrap: wrap;
        margin-bottom: -30px;
        // margin-right: -30px;

        @media screen and (min-width:768px) {
        display: flex;
        flex-wrap: wrap;
        flex-basis: calc(100% / 2);   
           }
      
        }
    
        
    
    
        .about-portfolio { 
        box-sizing: border-box;    
        // flex-basis: calc((100% - 3 * 30px) / 3);
        margin-bottom: 30px;
        width: 354px;
        margin-left: 15px;
        // margin-right: 30px;  

     }
    
    
    
    
    .about-portfolio-wrap {
        position: relative;
        overflow: hidden;
    }
    
    .about-portfolio-top-text {
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(33, 150, 243, 0.9);
        padding: 40px;
        color: #FFFFFF;
        font-size: 18px;
        line-height: 1.5;
        overflow: auto;
        height: 100%;
        transform: translateY(100%);
        transition: transform var(--transition-duration) var(--main-cubic);
    }
    
    .about-second-portfolio-title {
        font-size: 18px;
        line-height: 36px;
    }
    
    .about-second-portfolio-text {
        font-weight: normal;
        font-size: 16px;
        line-height: 1.8;
        letter-spacing: 0.03em;
        margin-top: 4px;
        color: var(--main-text-color)
    }
    
    
    .ab-portfolio {
        display: block;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 24px;
        padding-left: 24px;
        box-sizing: border-box;
        border: 1px solid #EEEEEE;
    }
    
    
    .ab-portfolio:focus , 
    .ab-portfolio:hover {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
    